@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #303030;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 68px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 5;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 28px;
  height: 28px;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 28px;
  padding: 33px 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 600px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: #ffffff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #121212;
}

.navigation__link:hover,
.navigation__link:focus {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  border-bottom: 4px solid #a1f422;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 145px;
    height: 24px;
  }
  .header {
    height: 76px;
    padding: 24px 40px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 48px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  padding: 84px 20px 40px;
  margin: auto;
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__wrapper-two {
  width: 335px;
  height: 376px;
  background: linear-gradient(0deg, #ffffff 0%, #a6f52e 100%);
  border-radius: 28px;
  padding: 32px 16px;
  color: #303030;
}

.home-title {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-text {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0 28px;
}
.home-text-two {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-img {
  overflow: hidden;
  position: relative;
  width: 335px;
  height: 288px;

  border-radius: 28px;
  margin-top: 12px;
}
.home-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1440px;
    padding: 92px 50px 74px 68px;
  }
  .home__wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }
  .home__wrapper-two {
    width: 730px;
    height: 634px;
    padding: 56px 44px 62px;
  }
  .home-title {
    font-family: Poppins;
    font-size: 88px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 24px 0 56px;
  }
  .home-text-two {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-img {
    margin-top: 0;
    width: 572px;
    height: 634px;
  }
  .home-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.about {
  padding: 64px 20px;
  width: 375px;
  background: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #303030;
}
.about-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0 32px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.feature {
  padding: 12px 24px;
  width: 335px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-left: 3px solid #ffc24f;
}
.about-img {
  overflow: hidden;
  position: relative;
  width: 335px;
  height: 498px;
  border-radius: 28px;
  margin-top: 44px;
}
.about-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 68px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
  }
  .about-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1304px;
    height: 60px;
  }
  .about-title {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;
    width: 842px;
  }
  .about-container-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }
  .feature-list {
    width: 1304px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }

  .feature {
    padding: 12px 28px 12px 32px;
    width: auto;
    min-width: 293px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-img {
    width: 1304px;
    height: 430px;
    margin-top: 0px;
  }
  .about-img img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 80px;
  height: 48px;
}

.gallery {
  margin: auto;
  padding: 64px 0px;
  width: 375px;
  color: #303030;

  background: linear-gradient(180deg, #ffffff 0%, #c0ff60 54.5%, #ffffff 99%);
}
.gallery-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 28px;
}
.gallery-title-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 40px;
}
.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.gallery__item {
  width: 335px;
  height: 479px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.gallery-avatar {
  object-fit: cover;
  object-position: center;
  width: 335px;
  height: 374px;
  border-radius: 24px;
}

.gallery-item-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 20px 12px 4px;
}
.gallery-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0 12px;
}
.gallery-button-container-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container-phone {
    display: none;
  }
  .gallery-button-container-desk {
    display: flex;
    justify-content: end;
    margin-top: 24px 0 28px;
  }
  .gallery {
    padding: 100px 68px;
    margin: auto;
    width: 1440px;
    background: linear-gradient(180deg, #ffffff 0%, #c0ff60 54.5%, #ffffff 99%);
  }
  .gallery-title {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;
  }
  .gallery-title-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0;
    margin: 0;
    padding-right: 250px;
  }
  .gallery__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
  }
  .gallery__item {
    width: 632px;
    height: 478px;
    margin: 22px;
  }
  .gallery-avatar {
    width: 632px;
    height: 374px;
    border-radius: 28px;
  }

  .gallery-item-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 20px 12px 4px;
  }
  .gallery-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.blog {
  margin: auto;
  padding: 64px 20px;
  width: 375px;
}
.blog-title-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 28px 35px 0;
}
.blog-img {
  overflow: hidden;
  position: relative;
  width: 335px;
  height: 322px;
  border-radius: 28px;
  margin-top: 40px;
}
.blog img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.blog-item {
  width: 335px;
  height: 136px;
  padding: 12px 20px 12px 20px;
  border-radius: 24px;
  background: #ffffff;
  border: 1px solid #a1f422;
  box-shadow: 0px 17px 50px 0px #00000014;
  padding: 32px 20px;
}
.blog-item-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.blog-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.blog-img-two {
  display: none;
}
@media screen and (min-width: 1200px) {
  .blog {
    margin: auto;
    padding: 100px 68px;
    color: #303030;
    width: 1440px;
  }

  .blog-title-text {
    padding: 0;
  }
  .blog-images {
    display: flex;
    gap: 44px;
  }
  .blog-img {
    width: 630px;
    height: 322px;
    border-radius: 28px;
    margin-top: 60px;
  }
  .blog img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  .blog-img-two {
    display: flex;
  }
  .blog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin-top: 60px;
  }

  .blog-item {
    width: 630px;
    height: 136px;
    padding: 40px;
  }
  .blog-item-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .blog-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.reviews {
  width: 375px;
  padding: 64px 0px;
  margin: auto;
  background: linear-gradient(180deg, #ffffff 0%, #c0ff60 54.5%, #ffffff 99%);
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 40px;
}

.reviews-item {
  width: 312px;
  height: 472px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 20px;
  background: #ffffff;
}
.reviews-avatar {
  width: 312px;
  height: 368px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.reviews-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
  padding: 16px 20px 14px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 100px 68px;
    margin: auto;
  }
  .reviews-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1304px;
  }
  .reviews-texts {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: auto;
    padding: 28px 0 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .reviews__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 40px;
  }

  .reviews-item {
    width: 564px;
    height: 368px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .reviews-avatar {
    width: 312px;
    height: 368px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
  }

  .reviews-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 24px;
  }
}

.testimonials {
  width: 375px;
  padding: 64px 20px;
  margin: auto;
}
.testimonials-list {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}
.testimonials-item {
  margin: auto;
  display: flex;
  align-items: start;
  width: 335px;
  padding: 32px 20px 32px 20px;
  gap: 16px;
  border-radius: 16px;

  background: #ffffff;
  border: 2px solid #a1f422;
  box-shadow: 0px 5px 16px 0px #080f340f;
}
.testimonials-item-img {
  width: 56px;
  height: 56px;
}
.testimonials-item-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1f2937;
}
@media screen and (min-width: 1200px) {
  .testimonials {
    width: 1440px;
    padding: 100px 68px;
  }

  .testimonials-list {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: auto;
    flex-wrap: wrap;
  }
  .testimonials-item {
    margin: auto;
    width: 594px;

    padding: 24px;
    gap: 36px;
    border-radius: 16px;
  }

  .testimonials-item-text {
    width: 430px;
  }
}
.contact {
  padding: 64px 20px;
  width: 375px;
  margin: auto;
  background: linear-gradient(0deg, #deffab -37.96%, #ffffff 80.07%);
}
.contact-title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #303030;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 32px;
}

.form-container {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-input {
  background: #ffffff;
  border: none;
  width: 335px;

  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  border: 1px solid #95ef0d;
  box-shadow: 0px 5px 16px 0px #080f340f;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303030;
}
.form-button {
  width: 335px;
  height: 60px;
  padding: 16px 36px 16px 36px;
  border-radius: 50px;
  background: #303030;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 32px;
}
.contact-img-container {
  overflow: hidden;
  position: relative;
  width: 335px;
  height: 393px;
  border-radius: 20px;
}
.contact-img-phone {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}


.contact-adress {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.contact-img-container-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-left: 12px;
  text-decoration: none;
  color: #303030;
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 31px;
    width: 1299px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-top: 47px;
    gap: 20px;
  }
  .form-input {
    border-radius: 12px;
    padding: 24px 20px;
    width: 660px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .contact-img-container {
    width: 608px;
    height: 530px;
    gap: 0px;
    border-radius: 24px;
  }
  .contact-img-phone {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    margin: auto;
  }

  .contact {
    padding: 100px 68px;
    width: 1440px;
    margin: auto;
    background: linear-gradient(0deg, #deffab -37.96%, #ffffff 80.07%);
  }
  .contact-title {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-bottom: 60px;
  }
  .contact-adress-container {
    width: 1304px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding-top: 60px;
  }

  .contact-adress {
    display: flex;
    align-items: center;
    padding-top: 24px;
  }
  .contact-img-container-text {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-left: 6px;
    text-decoration: none;
    color: #303030;
    width: auto;
  }
  .form-button {
    width: 660px;
    height: 60px;
    padding: 16px 36px 16px 36px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #ffffff;
    text-decoration: none;

    margin: 16px 0 32px;
  }
}
.footer {
  background: #111111;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  gap: 28px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.footer-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #f8f8f8;

  text-align: center;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #f8f8f8;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 37px 101px;
    align-items: center;

    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    text-align: center;
    gap: 52px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 20px 40px;
  background: #fffefb;
}
.padding-top {
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 28px;
}
.policy-terms-text-top {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 28px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-list {
  list-style-type: disc;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 28px 0 0 25px;
}
.terms-lists {
  list-style-type: disc;

  padding-left: 20px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 68px 40px;
    align-items: start;
  }
  .policy-terms-texts {
    font-size: 20px;
  }
  .policy-terms-text {
    font-size: 20px;
  }
  .policy-terms-text-top {
    font-size: 20px;
  }
  .policy-terms-text-one {
    font-size: 20px;
  }

  .terms-list {
    font-size: 20px;
  }
  .terms-lists {
    font-size: 20px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  max-width: 1440px;
  padding: 20px;
  background: #131313;

  box-shadow: 10px 10px 10px 0px #0000002e;

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.cookie-button-container {
  padding: 28px 0 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookie-button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 162px;
  height: 34px;
  padding: 7px 15px 7px 15px;
  background: transparent;
  color: #fff;
  border-radius: 12px;
}

#accept-cookies {
  background: #ffc24f;

  text-decoration: none;

  color: #303030;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 900px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    max-width: 1440px;
    padding: 20px 40px;
    display: none;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    max-width: 1440px;
    padding: 20px 40px;
  }
  .cookie-popup-container {
    display: flex;
  }
}
