<header class="header">
  <div class="header-background"></div>

  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="/#about" class="navigation-link">Chi Siamo</a>
      </li>
      <li class="navigation-item">
        <a href="/#products" class="navigation-link">Prodotti</a>
      </li>
      <li class="navigation-item">
        <a href="/#services" class="navigation-link">Servizi Offerti</a>
      </li>
      <li class="navigation-item">
        <a href="/#process" class="navigation-link">Come Funziona</a>
      </li>
      <li class="navigation-item">
        <a href="/#testimonials" class="navigation-link">Testimonianze</a>
      </li>
      <li class="navigation-item">
        <a href="/#contact" class="navigation-link">Contatti e Ordini</a>
      </li>
      <li class="navigation-item navigation-item-phone">
        <a href="terms.html" class="navigation-link">Termini e Condizioni</a>
      </li>
      <li class="navigation-item navigation-item-phone">
        <a href="cookie.html" class="navigation-link">Politica sui Cookie</a>
      </li>
      <li class="navigation-item navigation-item-phone">
        <a href="policy.html" class="navigation-link">Politica sulla Privacy</a>
      </li>
    </ul>

    <div class="header-button-wrapper">
      <button
        type="button"
        class="header-icon-button"
        data-menu-button
        aria-label="Toggle menu"
      >
        <svg class="header-icon header-icon-menu" width="28" height="28">
          <use href="/img/sprite.svg#icon-list"></use>
        </svg>

        <svg class="header-icon header-icon-close" width="28" height="28">
          <use href="/img/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
  </nav>
</header>
